//
// ckeditor overrides to be consistent with laravel nova styling
//


//
// Scope everything withing EaswyMDEContainer to ensure we are not messing up
// other nova components.
//

html {
  &:not(.dark) {
    .EasyMDEContainer {
      .CodeMirror {
        color: rgba(var(--colors-gray-500),var(--tw-text-opacity)) !important;
        background-color: rgb(255 255 255/var(--tw-bg-opacity)) !important;
      }
    }
  }

  &.dark {
    .EasyMDEContainer {
      .CodeMirror,
      .editor-toolbar.fullscreen,
      .editor-preview-full,
      .editor-preview-side {
        color: rgba(var(--colors-gray-400),var(--tw-text-opacity)) !important;
        background-color: rgba(var(--colors-gray-800),var(--tw-bg-opacity)) !important;
      }
    }
  }

  .EasyMDEContainer {
    .CodeMirror {
      margin: unset; // Fullscreen / side by side display.
    }

    .editor-toolbar.fullscreen,
    .editor-preview-side,
    .CodeMirror.CodeMirror-fullscreen
    {
      z-index: 1001 !important;
    }
  }
}

